*.ppm
*.png
*.jpg

__pycache__/
*.pyc
*.pyo
*.pyd


nlp-hw4-env/
venv/
env/
.env/
.claude

part-1/out/
part-1/out_augmented/
part-2/checkpoints/

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pdf

.ipynb_checkpoints/

.DS_Store
Thumbs.db
